<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FileWebServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.18:8080/FileWebServiceService/FileWebService"
                binding="basicHttpBinding" bindingConfiguration="FileWebServicePortBinding"
                contract="JEEService.IFileWebService" name="FileWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>