<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
    <system.diagnostics>
        <sources>
            <source name="NewSource" switchValue="Détaillé,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="NewListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel.MessageLogging" switchValue="Avertissement,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Avertissement,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="C:\Users\Vimaire\source\repos\WCF_Project\WCF_Server\App_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="NewListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
                <filter type="" />
            </add>
            <add initializeData="C:\Users\Vimaire\source\repos\WCF_Project\WCF_Server\App_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="C:\Users\Vimaire\source\repos\WCF_Project\WCF_Server\App_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
      
      <client>
        <endpoint address="http://192.168.1.18:8080/FileWebServiceService/FileWebService"
          binding="basicHttpBinding" bindingConfiguration="FileWebServicePortBinding1"
          contract="JEEService.IFileWebService" name="FileWebServicePort" />
      </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                  <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <diagnostics performanceCounters="Default">
            <messageLogging logEntireMessage="true" logMalformedMessages="true"
                logMessagesAtTransportLevel="true" />
            <endToEndTracing propagateActivity="false" activityTracing="false"
                messageFlowTracing="false" />
        </diagnostics>
        <bindings>
            <basicHttpBinding>
                <binding name="FileWebServicePortBinding" messageEncoding="Mtom" />
                <binding name="FileWebServicePortBinding1" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="BindingWCF">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="Message">
                        <transport clientCredentialType="None" protectionLevel="None" />
                        <message algorithmSuite="Basic128" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="WCF_Middleware.SVR">
              <endpoint address="" binding="basicHttpBinding" contract="WCF_Service.iSVR"
                listenUriMode="Explicit" />
              <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"
                listenUriMode="Explicit" />
                <endpoint address="net.tcp://192.168.1.19:4002/WCF_Server" binding="netTcpBinding"
                    bindingConfiguration="BindingWCF" name="serviceWCF" contract="WCF_Service.iSVR" />
                <endpoint address="net.tcp://192.168.1.19:4002/WCF_Server/mex" binding="mexTcpBinding"
                    bindingConfiguration="" name="mexWCF" contract="IMetadataExchange" />
              <host>
                <baseAddresses>
                  <add baseAddress="http://192.168.1.19:4000/WCF_Server" />
                </baseAddresses>
              </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>